<ng-progress [color]="'yellow'"></ng-progress>
<div id="top">
    <div class="container">
        <div class="panel panel-default col-md-11" style="margin-left: 2%">
<div class="panel-body">
    <label class="radio-inline"><input #cb9 type="radio" name="optradio" value="" (change)="logradio(cb9)" checked="checked">ViewAll</label>
    <label class="radio-inline"><input #cb1 type="radio" name="optradio"value="India" (change)="logradio(cb1)">India</label>
<label class="radio-inline"><input #cb2 type="radio" name="optradio" value="World" (change)="logradio(cb2)">World</label>
<label class="radio-inline"><input #cb3 type="radio" name="optradio" value="Technology" (change)="logradio(cb3)">Technology</label>
 <label class="radio-inline"><input #cb4 type="radio" name="optradio" value="Science" (change)="logradio(cb4)">Science</label>
<label class="radio-inline"><input #cb5 type="radio" name="optradio" value="Business" (change)="logradio(cb5)">Business</label>
<label class="radio-inline"><input #cb6 type="radio" name="optradio" value="Entertainment" (change)="logradio(cb6)">Entertainment</label>
<label class="radio-inline"><input #cb7 type="radio" name="optradio" value="Sports" (change)="logradio(cb7)">Sports</label>       
<label class="radio-inline"><input #cb8 type="radio" name="optradio" value="Miscellaneous" (change)="logradio(cb8)">Miscellaneous</label>
 
<!--<button (click)="clearIt()">Clear</button>-->

</div>
</div>
<div id="card">

    <div class="rows col-md-4 pulse" *ngFor='let b of blog|catfilter:log| paginate: { itemsPerPage: 6, currentPage: p };let i=index' style="margin-top:5%" >

<p-card [style]="{width: '300px',border:'none'}" styleClass="ui-card-shadow" id="card">
    <p-header>
        <a [routerLink]="['../'+b.title]"><img src="data:image/jpeg;base64,{{b.img}}" alt="Red dot" id="card_img" /></a>
    </p-header>
    <div>
        <a [routerLink]="['../'+b.title]" style="font-size: 20px;"><b>{{ b.title | uppercase }}</b></a>
<div> {{b.author}}</div>
<div> {{b.date}} </div>
<div> {{b.category}} </div>
</div>
</p-card>
</div>
</div>
</div>
<div id="page">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>