<!--<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username : {{user.username}}</li>
    <li class="list-group-item">Email : {{user.email}}</li>
  </ul>
</div>-->
<div class="container" *ngIf="user" id="pro">
  <img src="../../assets/img/Untitled.jpg">
  <div class="card">
    <div class="card-header">{{user.name}}</div>
    <div class="card-body">
  Username : {{user.username}}
  <br>
  Email : {{user.email}}
  <br>
  Phone : {{user.phone}}
  <br>
  Role : {{user.role}}
      </div> 
    <div class="card-footer"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">EDIT</button></div>
  </div>
</div>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height" id="particle"></particles>

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
       
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
       
        <div class="modal-body">
          Modal body..
        </div>
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Open modal</button>
        </div>
        
      </div>
    </div>
  </div>
  
