#top{
    min-height: 700px;
    /*background-image: linear-gradient(to right top, #e31111, #e76100, #de9400, #cac100, #a8eb12);*/
    background-image: linear-gradient(to right top, #f2f4ec, #e5dab7, #e8ba86, #f09368, #f66363);
    background-size: 100% 100%;
                height:100%;
                width:100%;
                overflow-y: auto;
}
.card-header {
    background-color: rgba(40, 46, 52,1);
}
.card-footer{
    background-color: rgba(40, 46, 52,1);
}
#scroll{
    overflow-y: scroll;
    height:600px;
}

p {
  font-family: Lato;
}

div.panel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border: none;
    margin: 0;
}
.tab .nav-tabs li a{
    padding: 10px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #293241;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a{ border: none; }
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 4px;
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    height: 4px;
    background: #727cb6;
    border: 1px solid #727cb6;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1s ease 0s;
}
.tab .nav-tabs li:hover a:after,
.tab .nav-tabs li.active a:after{
    width: 100%;
    opacity: 1;
}
.tab .tab-content{
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
}
#image{
    height: 100px;
    width:100px;
    border-radius: 50%;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .tab-content{ margin-top: 0; }
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}
#img{
    border-radius: 50%;
}
#img_btn{
    display:none;
}
.real_btn{
    background-color: transparent;
    border:none;
}
#img_real_btn{
    height: 40px;
    width:40px;
}
#edit_button{
    background-color: transparent;
    border:none;

}
#img_edit_button{
    height: 40px;
    width:40px;
}
.fa-pencil-alt{
    margin-top: 20%
}
.fa-book-open{
    margin-top: 20%
}
.fa-calendar-alt{
    margin-top: 20%
}

