<div id="top">
  <div style="margin-top:8%;">

<div class="col-md-2 col-sm-12 col-xs-12" style="margin-left:7.5%">
<div class="circle-tile ">
  <a>
    <div class="circle-tile-heading dark-blue"><i class="fas fa-pencil-alt fa-3x"></i></div>
  </a>
  <div class="circle-tile-content dark-blue">
    <div class="circle-tile-description text-faded"> My Blogs</div>
    <div class="circle-tile-number text-faded ">{{len}}</div>
    <a class="circle-tile-footer">More Info<i class="fa fa-chevron-circle-right"></i></a>
  </div>
</div>
</div>

<div class="col-md-2 col-sm-12 col-xs-12" style="margin-left:6%">
<div class="circle-tile ">
  <a>
    <div class="circle-tile-heading red"><i class="fas fa-book-open  fa-3x"></i></div>
  </a>
  <div class="circle-tile-content red">
    <div class="circle-tile-description text-faded"> Total Blogs </div>
    <div class="circle-tile-number text-faded ">{{totlen}}</div>
    <a class="circle-tile-footer">More Info<i class="fa fa-chevron-circle-right"></i></a>
  </div>
</div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12" style="margin-left:6%">
<div class="circle-tile ">
  <a>
    <div class="circle-tile-heading green"><i class="fa fa-users fa-fw fa-3x"></i></div>
  </a>
  <div class="circle-tile-content green">
    <div class="circle-tile-description text-faded"> Total Users </div>
    <div class="circle-tile-number text-faded ">{{userCount}}</div>
    <a class="circle-tile-footer">More Info<i class="fa fa-chevron-circle-right"></i></a>
  </div>
</div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12" style="margin-left:6%">
<div class="circle-tile ">
  <a>
    <div class="circle-tile-heading purple"><i class="far fa-calendar-alt fa-3x"></i></div>
  </a>
  <div class="circle-tile-content purple">
    <div class="circle-tile-description text-faded"> Date</div>
    <div class="circle-tile-number text-faded ">{{datetime}}</div>
    <a class="circle-tile-footer">More Info<i class="fa fa-chevron-circle-right"></i></a>
  </div>
</div>
</div>
</div>
<div class="panel panel-default col-md-10 col-xs-11 col-md-offset-1 col-xs-offset-1" style="height:600px ;border-top: 5px solid #AC004B;" id="scroll">
<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">VIEW BLOGS</a></li>
          <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">WRITE BLOG</a></li>
          <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">MY PROFILE</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
          <div role="tabpanel" class="tab-pane fade in active" id="Section1">
            <h3>Section 1</h3>
            <div class="panel panel-default" *ngFor="let b of blog;let i=index">
              <div class="panel-body">
                <div class="rows">
                  <div class="col-md-4"><img src="data:image/jpeg;base64,{{b.img}}" alt="Red dot" /> </div>
                  <div class="col-md-offset-1 col-md-7">
                    <div style="font-size: 30px;"><b> {{b.title}} </b></div>
<div>writer: {{b.author}}</div>
<div> date:{{b.date}} </div>
<div> Category:{{b.category}} </div>
</div>
<div class="col-md-12">
  <div [innerHTML]="b.editor"></div>
</div>
</div>
</div>
</div>
<!--</div>-->
</div>
<div role="tabpanel" class="tab-pane fade" id="Section2">
  <input type="text" [(ngModel)]="title" class="form-control" placeholder="Title">
  <br>
  
  <select class='select-option form-control' required [(ngModel)]='CategorySelected'>
    <option class='option ' *ngFor='let Category of Category' [value]="Category">{{Category}}</option>
</select>
  <h5><b>CHOOSE DISPLAY PICTURE</b></h5>
  <input type="file" (change)="onFileSelected($event)" name="img" id="img_btn">
  <button (click)="file()" class="real_btn"><img src="../../../assets/img/instagram-logo.png" id="img_real_btn" alt="btn" title="CHOOSE FILE"></button>
  <img [src]="url" id="image" *ngIf="url">
  <p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>
  <button pButton type="button" label="Clear" icon="fa-close" (click)="text1=null" id="clear"></button>
  <button class="btn btn-primary" (click)="submit()">POST</button>
</div>
<div role="tabpanel" class="tab-pane fade" id="Section3">
  <div class=" col-md-4" style="border:none;margin-top: 2%">
<div>
  <img src="https://firebasestorage.googleapis.com/v0/b/souledstore-10830.appspot.com/o/array%2F-LBvPsEpTRYn-21-XFGv..jpg?alt=media&token=9407fae9-7109-48b7-8fca-cb2d8dd4564c"
    alt="Avatar" style="width:300px" id="img"></div>
</div>
<div class=" col-md-8" style="border:none;margin-top: 2%">

<div *ngIf="user" style="font-family: Comic Sans MS, cursive, sans-serif;font-size: 30px;"> Username : {{user.username}}
<br><br> Name : {{user.name}}
<br><br> Email : {{user.email}}
<br><br> Phone : {{user.phone}}
<br><br> Role : {{user.role}}
</div>

</div>
<button type="button" class="col-md-offset-6" style="margin-top: 5%" id="edit_button" data-toggle="modal" data-target="#myModal"><img src="../../../assets/img/edit.png" alt="edit" id="img_edit_button"></button>

</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body" *ngIf="user">

        <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeEdit">Close</button>
            <button type="submit" class="btn btn-info" id="sub">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>