<div id="top">
    <div class="container" id="top_row">
        <div class="col-md-12 col-sm-12 col-xs-12" id="box" >
<div id="sum_box" class="row mbl">
    <div class="col-sm-12 col-md-4 col-xs-12 grow">
        <div class="panel income db mbm">
            <div class="panel-body">
                <p class="icon">
                    <i class="icon fa fa-money"></i>
                </p>
                <h4 class="value">
                    <span>{{blogCount}}</span><span></span></h4>
                <p class="description">
                    Total Blog</p>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-xs-12 grow">
        <div class="panel profit db mbm">
            <div class="panel-body">
                <p class="icon">
                    <i class="icon fa fa-shopping-cart"></i>
                </p>
                <h4 class="value">
                    <span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">{{NewUsers}}</span><span></span></h4>
                <p class="description">
                    New Users</p>

            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-xs-12 grow">
        <div class="panel task db mbm">
            <div class="panel-body">
                <p class="icon">
                    <i class="icon fa fa-signal"></i>
                </p>
                <h4 class="value">
                    <span>{{count}}</span></h4>
                <p class="description">
                    Total Users</p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xs-12 " id="table">
        <div class="panel panel-default" id="tablekeupar">
            <div class="panel-body" id="tab">
                <table class="table table-striped" id="tab">
                    <thead class="thead-dark">
                        <tr>
                            <th width="14%">Firstname</th>
                            <th width="25%">Email</th>
                            <th width="14%">Username</th>
                            <th width="14%">Phone</th>
                            <th width="14%">Role</th>
                            <th width="7%"></th>
                            <th width="7%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let u of user'>
                            <td width="14%">{{u.name}}</td>
                            <td width="25%">{{u.email}}</td>
                            <td width="14%">{{u.username}}</td>
                            <td width="14%">{{u.phone}}</td>
                            <td width="14%">{{u.role}}</td>
                            <td width="7%"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="edit(u)">EDIT</a></td>
                            <td width="7%"><a (click)="deleteIt(u.username)" class="btn  btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-8 col-xs-12 grow">
        <div class="panel panel-default" id="chartkeupar">
            <div class="panel-body col-md-offset-2">
                <div [chart]="chart" id="chart"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 grow">
        <div class="panel panel-default" id="chartkeside" >
            <div class="panel-body" *ngFor="let u of NewUsers">
                {{u.name}} Joined your Network
                <hr>
            </div>
        </div>
    </div>

</div>
</div>
<!--<div class="col-sm-12" >
    <div class="panel panel-default" id="tablenew">
        <div class="panel-body">
            <h1>hIIIIIII</h1>
        </div>
    </div>
</div>-->


</div>
<div class="container">

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
                        <!--<div class="form-group" id="inv">
                            <label for="usernam">UserName:</label>
                            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="person.username" disabled >
                        </div>-->
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="person.name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="Phone">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="person.email" disabled>
                        </div>

                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" name="role" [(ngModel)]="person.role">
                            <option *ngFor="let Role of Role" [value]="Role">
                             {{Role}}
                            </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeEdit">Close</button>
                            <button type="submit" class="btn btn-info" id="sub">Submit</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>

</div>
</div>