
body{
  height:100%;
  width:cover;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}
#p{
  color: black; 
  font-family: "Courier";
  font-size: 30px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 15.5em;
  animation: type 8s steps(60, end); 
  position:center;
  margin-left: 30%;
}

#span{
  animation: blink 1s infinite;
  font-size: 30px;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../../../assets/img/image4.jpg');
  height:700px;
}

.pimg2{
  background-image:url('../../../assets/img/image2.jpg');
  min-height:700px;
}

.pimg3{
  background-image:url('../../../assets/img/image3.jpg');
  min-height:700px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:30px;
  letter-spacing:8px;
  /*text-transform:uppercase;*/
  font-weight: bold;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}
#icon{
  font-size: "50px"
}
#aboutmepic
{
  height:auto;
    border:0;
  background-color:#282e34;
  z-index:50;
}
h5{
  background-color:#282e34;
  border: 0;
  font-size: 26px;
  color:gray;
  overflow-x: hidden;
}
#aboutmetext
{
  /*border-style: solid;
    border-width: 5px;*/
    border:none;
  background-color:#282e34
}
agm-map {
   
  height: 300px;
}
#myimg{
  height:auto
}
#contact{
  font-family: 'Cantarell';
}
#card_img{
  height:200px;
}
.modal-content{
  height: 500px;
  overflow-y: auto;
}
@media(max-width:768px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  #p{
  color: black; 
  font-family: "Courier";
  font-size: 15px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
  animation: type 8s steps(60, end); 
  position:center;
  margin-left: 10%;
}
#span{
  animation: blink 1s infinite;
  font-size: 15px;
}
#card{
  
  width:200px;
}
.modal-content{
  width: auto;
  height: 500px;
  overflow-y: auto;
}
}
