<!--<nav class="navbar navbar-expand-md navbar-dark  fixed-top" id="navb">
      <a class="navbar-brand" href="#" style="color:black">MEAN Auth App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/']" style="color:black">Home <span></span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/dashboard']" style="color:black">Dashboard </a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/profile']" style="color:black">Profile </a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/login']" style="color:black">Login </a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/register']" style="color:black">Register</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#" style="color:black">Logout</a>
          </li>
        </ul>
      </div>
    </nav>-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
     <a class="navbar-brand" href="#" style="color:black">MEAN Auth App</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="" [routerLink]="['/']" style="color:black">Home <span></span></a>
          </li>
        </ul>-->
    <!--<ul class="navbar-nav ml-auto">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a  [routerLink]="['/dashboard']" style="color:black">Dashboard </a>
          </li>
          <li  *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a  [routerLink]="['/profile']" style="color:black">Profile </a>
          </li>
          <li  *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a  [routerLink]="['/login']" style="color:black">Login </a>
          </li>
          <li  *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a  [routerLink]="['/register']" style="color:black">Register</a>
          </li>
          <li  *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#" style="color:black">Logout</a>
          </li>
        </ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
  </div>
</nav>-->
<nav class="navbar navbar-inverse navbar-fixed-top" id="navb">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  style="color:black;font-size:25px;font-family: Helvetica;font-weight: bold;" >PAK-CHIK-PAK
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
  <li >
    <a [routerLink]="['/']" style="color:black;font-size:16px;font-family: Helvetica;font-weight: bold;">Home <span></span></a>
</li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li *ngIf="authService.loggedIn()" >
  <a [routerLink]="['/dashboard']" style="color:black;font-size:16px;font-family: Helvetica;font-weight: bold;">Dashboard </a>
</li>
<li *ngIf="authService.loggedIn()" >
  <a [routerLink]="['/profile']" style="color:black;font-size:16px;font-family: Helvetica;font-weight: bold;">Profile </a>
</li>
<li *ngIf="!authService.loggedIn()" >
  <a [routerLink]="['/login']" style="color:black;font-size:16px;font-family: Helvetica;font-weight: bold;">Login </a>
</li>
<li  *ngIf="!authService.loggedIn()" >
  <a   [routerLink]="['/register']" style="color:black;font-size:16px;font-family: Helvetica;font-weight: bold;">Register</a>
</li>
<li *ngIf="authService.loggedIn()">
  <a class="nav-link" (click)="onLogoutClick()" href="#" style="color:black;font-size:16px;font-family: Helvetica;font-weight: bold;">Logout</a>
</li>
</ul>
</div>
</div>
</nav>